#root {
  width: 100%;
  // background-color: #dddd33;
  background: linear-gradient(90deg, rgba(237,237,235,1) 4%, rgba(238,244,6,0.6) 48%, rgba(232,231,225,0.7931547619047619) 96%);
}

.container {
  width: 1200px;
}

.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.header {
  width: 100vw;
  height: 100px;
  position: fixed;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  z-index: 10;

  .header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  }

  .title {
    margin-left: 70px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #7a7a7c;

    & span {
      color: #cc3333;
      font-size: 36px;
    }

  }

  .icons-wrapper {
    margin: 0 70px 20px 0;
    padding: 5px 10px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background-color: #dddddd;
    box-shadow: 2px 3px 3px 0 rgba(0,0,0,0.2);

    & span {
      width: 12px;
      margin-left: 8px;
      font-size: 20px;
      color: blue;
    }

    .fa-sm {
      font-size: 0.75em;
    }

    .cart-shopping-wrapper,
    .star-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }


}





